{
  "presets": [
    [
      "env",
      {
        "targets": {
          "browsers": ["last 2 versions", "ie >= 9"]
        }
      }
    ]
  ],
  "plugins": [
    [
      "babel-plugin-transform-require-ignore",
      {
        "extensions": [".js"]
      }
    ],
    "transform-object-rest-spread",
    "transform-class-properties"
  ]
}
